In [1]:
import pandas as pd

df = pd.read_csv('dataset_mood_smartphone.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376912 entries, 0 to 376911
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  376912 non-null  int64
 1   id          376912 non-null  object
 2   time        376912 non-null  object
 3   variable    376912 non-null  object
 4   value       376710 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 14.4+ MB

In [3]:
df.head()

   Unnamed: 0       id                     time variable  value
0           1  AS14.01  2014-02-26 13:00:00.000     mood    6.0
1           2  AS14.01  2014-02-26 15:00:00.000     mood    6.0
2           3  AS14.01  2014-02-26 18:00:00.000     mood    6.0
3           4  AS14.01  2014-02-26 21:00:00.000     mood    7.0
4           5  AS14.01  2014-02-27 09:00:00.000     mood    6.0

In [4]:
df['variable'].value_counts()

screen                  96578
appCat.builtin          91288
appCat.communication    74276
appCat.entertainment    27125
activity                22965
appCat.social           19145
appCat.other             7650
circumplex.valence       5643
circumplex.arousal       5643
appCat.office            5642
mood                     5641
call                     5239
appCat.travel            2846
appCat.utilities         2487
sms                      1798
appCat.finance            939
appCat.unknown            939
appCat.game               813
appCat.weather            255
Name: variable, dtype: int64

In [5]:
df.loc[(df['variable'] == 'screen') & (df['id'] == 'AS14.01'), 'value'].sum()

548039.2689983845

In [6]:
del df['Unnamed: 0']

In [7]:
df[['Date', 'Time']] = df['time'].str.split(' ', n=1, expand=True)

In [8]:

df.head()

        id                     time variable  value        Date          Time
0  AS14.01  2014-02-26 13:00:00.000     mood    6.0  2014-02-26  13:00:00.000
1  AS14.01  2014-02-26 15:00:00.000     mood    6.0  2014-02-26  15:00:00.000
2  AS14.01  2014-02-26 18:00:00.000     mood    6.0  2014-02-26  18:00:00.000
3  AS14.01  2014-02-26 21:00:00.000     mood    7.0  2014-02-26  21:00:00.000
4  AS14.01  2014-02-27 09:00:00.000     mood    6.0  2014-02-27  09:00:00.000

In [9]:
df.loc[(df['variable'] == 'mood') & (df['id'] == 'AS14.01') & (df['Date'] == '2014-02-27'), 'value'].head()

4    6.0
5    6.0
6    7.0
Name: value, dtype: float64